<strong>Module:</strong>        ZendSkeletonModule &raquo;
<strong>Controller:</strong>    Skeleton &raquo;
<strong>Action:</strong>        index

<h1>Online Market</h1>

<?php if(isset($this->messages) && count($this->messages)): ?>
<span style="color:red;">
	<?php echo $this->htmllist($this->messages); ?>
</span>
<?php endif; ?>	

<?php echo $this->partial('market/partials/item', ['item'=>$this->item]); ?>
	
