<style>
	label{
		/*width: 400px;*/
		margin-right:20px;
	}
	input{
		margin-left:20px;
	}
</style>

<h1>Post Controller</h1>

<?php $this->postForm->prepare(); ?>
<?php echo $this->form()->openTag($this->postForm); ?>
<?php echo $this->formCollection($this->postForm); ?>
<?php echo $this->form()->closeTag(); ?>
<?php Zend\Debug\Debug::dump($this->data); ?>
